input.error {
    border-color:red;
}

select.error {
    border-color:red;
}

label.error {
    font-weight: normal;
    font-size: 10px;
    color: #F00;
}

h3.persons label.error {
    position: absolute;
    top: 16px;
}
#bookingInquiry{
    margin-left: 55px;
}

@media (max-width: 1199.99px) {
    #bookingInquiry{
        margin-left: 20px;
    }
}
@media (max-width: 550px) {
    #childrenCount, #teilnehmerCount{
        width: 40%!important;
    }
}
@media (max-width: 380px) {
    #childrenCount, #teilnehmerCount{
        width: 70px!important;
    }
    #bookingInquiry{
        margin-left: 0px;
    }
}
