.no_margin {
    margin: 0 0;
}

.no_padding {
    padding: 0 0;
}

.text_blue {
    color: #2A5CAA;
}

.filter {
    margin-bottom: 10px;
    background-color: #C3D9F2;
    border: 1px solid transparent;
    border-radius: 4px;
}

.filter .form-group {
    margin: 9px 0;
	font-size: 14px !important;
}

.filter .input-daterange {
	padding: 0px 15px;
}

.filter .input-daterange .input-group-addon {
	border: 0px solid #FFFFFF;
	background: none;
	text-shadow: none;
}

.ship_info h3, .booking_form h3 {
    margin: 9px 0;
    color: #2A5CAA;
}

.booking_form label.small {
    font-weight: 300;
    font-size: 11.9px;
    color: #96AACE;

}

.booking_form {
    margin: 4px 0px 8px;
}

.checkbox_child {
    margin: 30px 0 0 0;
}

.checkbox_child label {
    font-weight: 300;
}

.ship_info h3 span.flag {
    margin-right: 5px;
    border: 1px solid #ff0000;
    display: inline-block;
    width: 24px;
    height: 16px;
}

.ship {
	
}

.ship_info {
    background: #EAF3FD;
	border-top: 1px solid #d5e4f6;
	border-bottom: 1px solid #d5e4f6;
	margin-top: 10px !important;
    border-radius: 0px;
    padding: 10px 10px;
	
	background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0, #f7faff),
    color-stop(65px, #EAF3FD),
    color-stop(65px, #EAF3FD)
    color-stop(100%, #EAF3FD)
	);
  background-image: -webkit-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #EAF3FD 65px,
    #EAF3FD 100%
	);
  background-image: -moz-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #EAF3FD 65px,
    #EAF3FD 100%
	);
  background-image: -ms-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #EAF3FD 65px,
    #EAF3FD 100%
	);
  background-image: -o-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #EAF3FD 65px,
    #EAF3FD 100%
	);
}

.ship_info img {
	border: 1px solid #d5e4f6;
	margin-bottom: 10px;
}

.ship_info td.td-0 {
    color: #aaaaaa;
}

.ship_trip_info {
    border-bottom: 1px solid #d5e4f6;
    padding: 15px 0px !important;
    margin-top: 15px;
    position: relative;
	
	
	background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0, #f7faff),
    color-stop(65px, #EAF3FD),
    color-stop(65px, #fff)
    color-stop(100%, #fff)
	);
  background-image: -webkit-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #fff 65px,
    #fff 100%
	);
  background-image: -moz-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #fff 65px,
    #fff 100%
	);
  background-image: -ms-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #fff 65px,
    #fff 100%
	);
  background-image: -o-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 65px,
    #fff 65px,
    #fff 100%
	);
	
}


.ship_trip_info .date {
    color: #2A5CAA;
    font-weight: bold;
    margin-bottom: 4px;
}

.ship_trip_info .date h3 {
	margin: 0 0;
	color: #2A5CAA;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2em;
}

.day_of_the_week {
	color: #aaa;
	text-transform: uppercase;
	color: #aaa;
	margin-top: 12px;
	display: block;
}

.booking_info {
	color: #aaa;
}

.month {
	color: #2A5CAA;
	display: block;
}

.ship_trip_info .berth {
    margin-bottom: 10px;
}


.table.ship_info_table > tbody > tr > td {
    border-top: 1px dotted #C3D9F2;
	font-size: 12px;
}

.table.ship_info_table > tbody > tr > td.td-0 {
    width: 18%;
}

.booking .form-group {
    margin-bottom: 8px;
}

.inactive {
    color: #aaa !important;
}

.text-md-right {
    text-align: right;
}


.datepicker-days table {
	border: 0px solid #d5e4f6;
	margin: 5px 10px;
}

.datepicker table tr td, 
.datepicker table tr th {
	background: #e1e1e1;
	border: 2px solid #fff !important;
	border-radius: 0px;
	font-weight: normal;
	color: #222;
	
}

.datepicker table tr th {
	background: #2A5CAA;
	color: #fff;
	
}

.datepicker table thead tr {
	background: #2A5CAA;
}


.datepicker table thead th.dow {
	color: #C3D9F2;
}

.datepicker table tr td {
	background: #f5f5f5;
	color: #aaa;
	padding: 2px 8px !important;
	margin: 2px 2px;
}




.datepicker table tr td.range {
    color: #222;
    border-radius: 0;
	
}

.datepicker table tr td.disabled {
	color: #aaa; 
	background: #f5f5f5; 
}

.datepicker table tr td.hasEvents {
	color: #2A5CAA;
	background: #EAF3FD; 
}

.datepicker table tr td.range {
	border-color: #ffffff !important;
}

.datepicker table tr td.hasEvents.range {
	background: #C3D9F2;
}



.datepicker table tr td.selected, .datepicker table tr td.selected.highlighted {
	background: #2A5CAA; 
	color: #fff;
    text-shadow: none;
}

.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active.highlighted:hover, .datepicker table tr td.active:active, .datepicker table tr td.active:hover, .open > .dropdown-toggle.datepicker table tr td.active, .open > .dropdown-toggle.datepicker table tr td.active.highlighted {
    color: #fff;
    background-color: #3071a9;
    border-color: #e1e1e1;
}

.datepicker table tr td:hover {
	background: #e1e1e1 !important;
	color: #222 !important;
}

.datepicker table tr td.disabled:hover {
	background: #f5f5f5 !important;
	color: #aaa !important;
}

.datepicker table tr td.hasEvents:hover {
	background: #2A5CAA !important;
	color: #fff !important;
}


@media (max-width:1199px) { 
	.ship_trip_info {
    
	
	background-image: -webkit-gradient(linear,
    left top,
    right top,
    color-stop(0, #f7faff),
    color-stop(54px, #EAF3FD),
    color-stop(54px, #fff)
    color-stop(100%, #fff)
	);
  background-image: -webkit-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 54px,
    #fff 54px,
    #fff 100%
	);
  background-image: -moz-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 54px,
    #fff 54px,
    #fff 100%
	);
  background-image: -ms-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 54px,
    #fff 54px,
    #fff 100%
	);
  background-image: -o-linear-gradient(
    left,
    #f7faff,
    #EAF3FD 54px,
    #fff 54px,
    #fff 100%
	);
	}
}

@media (max-width:991px) {
    .ship_info_number {
        display: none;
    }

    .col-booking {
        text-align: right;
    }

    .checkbox_child {
        margin: 10px 0 10px 0;
    }

    .text-md-right {
        text-align: left;
    }
    .no_margin .col-md-4 {
        padding-left: 0px;
    }
	
	
	.ship_trip_info {
    	background-image: none;
	}
}


@media (max-width:767px) {
    .ship_trip_info.inactive {
        display: none;
    }

    .col-booking {
		position: absolute;
        right: 0px;
        top: 0px;
    }

    .booking_info {
        display: none;

    }
	
	.mobileInfo p {
		padding: 8px 5px 5px 17px;
	}
}