
.site-news .booking .bookingformbox {
    width: 100% !important;
}

.site-news .booking .bookingformbox label {
    width: 45%;
    display: inline-block !important;

    /*width: 100%;
    display: block;*/
}

.site-news .booking .bookingformbox select {
    width: 100% !important;
    color: #264f90;
    padding: 3px;
}

.site-news .booking .bookingformbox .submitbutton {
    margin-right: 0.7%;
}

a.bookingformsubmit {
    padding: 1px 8px;
    border: none !important;
}

@media all and (max-width:400px) {
    .site-news .booking .bookingformbox h2 span {
        display: block;
    }
    .site-news .booking .bookingformbox label {
        width: 100% !important;
        display: block !important;
    }


    .site-news .booking .bookingformbox .submitbutton {
        margin-right: 0;

    }



}