{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
<h1>Wartungsarbeiten</h1>
<p>Zur Zeit finden Serverarbeiten statt. Wir bitten um Entschuldigung. <br />In Kürze sollte alles wieder funktionieren.</p>
<pre>CRM not reachable</pre>
</f:section>