<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers">
{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="SectionByController"/>

<f:section name="form">


    <h1><small><f:link.action action="list" class="btn btn-link"><span class="glyphicon glyphicon-chevron-left"></span> Zurück zur Liste</f:link.action></small> <span id="bookingInquiry" >Buchungsanfrage</span></h1>


    <div class="">
        <div class="row ship_info">
            <div class="col-md-3">
                <f:if condition="{product.entry_list.0.hs_schiffe_aos_products_1.0.image}">
                    <f:then><img src="{product.entry_list.0.hs_schiffe_aos_products_1.0.image}" border="0" alt="" style="width: 100%; margin-top: 10px;"></f:then>
                    <f:else><img src="/typo3conf/ext/hansesail_booking/Resources/Public/img/default.png" border="0" alt="" style="width: 100%; margin-top: 10px;"></f:else>
                </f:if>
            </div>
            <div class="col-md-9">
                <h3><f:if condition="{product.entry_list.0.hs_schiffe_aos_products_1.0.isoA2Code}"><span class="flag-icon flag-icon-{product.entry_list.0.hs_schiffe_aos_products_1.0.isoA2Code}"></span></f:if> {product.entry_list.0.name -> f:format.htmlentitiesDecode()}</h3>
                <table class="table ship_info_table">
                    <tbody>
                    <tr>
                        <td class="td-0">Zeit</td>
                        <td class="td-1" style="width: 30%; height: 70%;">{product.entry_list.0.zeit_c} Uhr </td>
                        <td class="td-2" rowspan="2" style="border-top: 0px solid #ffffff; padding-left: 30px;"><small><f:format.number decimals="2" decimalSeparator="," thousandsSeparator=".">{product.entry_list.0.price}</f:format.number> €
                            / {product.entry_list.0.description} {product.entry_list.0.inkludierte_leistungen_c}</small></td>
                    </tr>
                    <tr>
                        <td class="td-0">Liegeplatz</td>
                        <td class="td-1">{product.entry_list.0.liegeplatz_c}</td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <f:comment>{product}</f:comment>
    <div id="bookingFormContainer" style="display:none;">
    <f:form enctype="multipart/form-data" arguments="{id: product.entry_list.0.id}" action="form" controller="Booking" method="post" name="" id="bookingForm">
    	<f:form.hidden name="save" value="1" />
        <script type="text/javascript">var aos_product = {product.entry_list.0 -> m:toJson() -> f:format.raw()}</script>
        <script type="text/javascript">
            var  restkapazitaetC = parseInt("{product.entry_list.0.restkapazitaet_c}");
        </script>

        <div class="row booking_form attendees" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3">
                <f:if condition="{extendexBooking}">
                    <f:then></f:then>
                    <f:else><h3 style="margin-bottom: 20px; font-size: 1.4em;">Teilnehmer</h3></f:else>
                </f:if>
                <h3 style="position: relative; width: 100%; display: inline-block; padding-right: 77px;" class="persons">
                    <f:if condition="{extendexBooking}">
                        <f:then>Anzahl der Teilnehmer</f:then>
                        <f:else>Anzahl der Erwachsenen</f:else>
                    </f:if>
                    <f:form.select id="teilnehmerCount" name="booking[paticipants]" options="{1:1,2:2,3:3,4:4,5:5,6:6,7:7,8:8,9:9,10:10,11:11,12:12,13:13,14:14,15:15,16:16,17:17,18:18,19:19,20:20}" class="form-control maximumV1" value="{contact.paticipants}"  style="position: absolute; right: 0px; top: -10px; width: 50%;" />
                </h3>
            </div>
        </div>
        <f:if condition="{extendexBooking}">
            <f:then>
                <f:form.hidden name="extendexBooking" value="1" />
                <div class="row booking_form">
                    <div class="col-md-12">
                        <hr />
                    </div>
                </div>
                <div id="teilnehmerContainer"></div>
                <script type="text/template" id="teilnehmerTemplate">
                    <div class="row form-group booking_form teilnehmerRow" data-number="{{ c }}">
                        <div class="col-md-9 col-md-offset-3">
                            <strong>{{ c }}. Person</strong>
                        </div>
                        <div class="col-md-2 col-md-offset-1">
                            <label class="control-label small" for="booking[participants][{{ c }}][salutation]">Anrede</label>
                            <f:form.select name="booking[participants][{{ c }}][salutation]" options="{0:'Herr',1:'Frau'}" class="form-control" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small" for="booking[participants][{{ c }}][first_name]">Vorname</label>
                            <f:form.textfield name="booking[participants][{{ c }}][first_name]" placeholder="Vorname" class="form-control input-md" type="text" value="" required="required" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small" for="booking[participants][{{ c }}][last_name]">Nachname</label>
                            <f:form.textfield name="booking[participants][{{ c }}][last_name]" placeholder="Nachname" class="form-control input-md" type="text" value="" required="required" />
                        </div>
                        <div class="col-md-3">
                            <label class="control-label small">&nbsp;</label>
                            <div class="checkbox" class="checkbox_child">
                                <label for="booking[participants][{{ c }}][ischild]">
                                    <f:form.checkbox class="childcheckbox{{ c }} childcheckbox" name="booking[participants][{{ c }}][ischild]" value="1" />
                                    Kind
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6 col-md-offset-3">
                            <label class="control-label small" for="booking[participants][{{ c }}][first_name]">Personalausweis Nummer</label>
                            <f:form.textfield name="booking[participants][{{ c }}][panr]" placeholder="Personalausweis Nummer" class="form-control input-md panr-childcheckbox{{ c }}" type="text" value="" required="required" />
                        </div>
                        <div class="col-md-3"></div>
                        <div class="col-md-12">
                            <hr />
                        </div>

                    </div>
                </script>
            </f:then>
            <f:else>
                <f:form.hidden name="extendexBooking" value="0" />
                <div class="row booking_form" style="margin-top: 20px;">
                    <div class="col-md-8 col-md-offset-3"><h3 style="position: relative; width: 100%; display: inline-block; padding-right: 127px;">Anzahl der Kinder
                        <f:form.select id="childrenCount" name="booking[children]" options="{0:0,1:1,2:2,3:3,4:4}" class="form-control" value="{contact.paticipants}"  style="position: absolute; right: 0px; top: -10px; width: 50%;" />
                    </h3></div>
                </div>
            </f:else>
        </f:if>

        <div class="row booking_form" style="margin-top: 20px;">
            <div class="col-md-3"></div>
            <div class="col-md-9"><h3>Kontakt und Rechnungsdaten</h3></div>
        </div>


        <div class="row form-group booking_form">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">Anrede</label>
                <f:form.select name="contact[salutation]" options="{0:'Herr',1:'Frau'}" class="form-control" value="{contact.salutation}" />
            </div>
        </div>
        <div class="row form-group booking_form">
            <div class="col-md-4 col-md-offset-3">
                <label class="control-label small" for="textinput">Vorname*</label>
                <f:form.textfield name="contact[first_name]" placeholder="Vorname" class="form-control input-md" type="text" value="{contact.first_name}" required="required" />
            </div>
            <div class="col-md-4">
                <label class="control-label small" for="textinput">Nachname*</label>
                <f:form.textfield name="contact[last_name]" placeholder="Nachname" class="form-control input-md" type="text" value="{contact.last_name}" required="required" />
            </div>
        </div>

        <div class="row form-group booking_form">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">Straße und Hausnummer*</label>
                <f:form.textfield name="contact[primary_address_street]" placeholder="Straße und Hausnummer" class="form-control input-md" type="text" value="{contact.primary_address_street}" required="required" />
            </div>
        </div>


        <div class="row form-group booking_form">
            <div class="col-md-3 col-md-offset-3">
                <label class="control-label small" for="textinput">PLZ*</label>
                <f:form.textfield name="contact[primary_address_postalcode]" placeholder="PLZ" class="form-control input-md" type="number" value="{contact.primary_address_postalcode}" required="required" />
            </div>
            <div class="col-md-5">
                <label class="control-label small" for="textinput">Ort*</label>
                <f:form.textfield name="contact[primary_address_city]" placeholder="Ort" class="form-control input-md" type="text" value="{contact.primary_address_city}" required="required" />
            </div>
        </div>

        <div class="row form-group booking_form">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">Land</label>
                <f:form.select name="contact[primary_address_country]" class="form-control input-md" options="{DE: 'Deutschland', AT: 'Östereich', CH: 'Schweiz'}" />
            </div>
        </div>


        <div class="row form-group booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">Telefonnummer*</label>
                <f:form.textfield name="contact[phone_home]" placeholder="Telefonnummer" class="form-control input-md validatePhone" type="tel" value="{contact.phone_home}" required="required" />
            </div>
        </div>

        <div class="row form-group booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">E-Mail Adresse*</label>
                <f:form.textfield name="contact[email1]" placeholder="E-Mail Adresse" class="form-control input-md" type="email" value="{contact.email1}" required="required" />
            </div>
        </div>


        <div class="row form-group booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3">
                <label class="control-label small" for="textinput">Anmerkungen</label>
                <f:form.textarea class="form-control" name="booking[notes]" style="height: 130px;" />
            </div>
        </div>

        <f:if condition="{product.entry_list.0.hs_schiffe_aos_products_1.0.nur_reservierung_c} != 1">
            <f:then>
                <f:if condition="{product.entry_list.0.id} != '15d3662f-653f-6ff5-fc67-5ee361bb74dc'">
                    <f:then>
                        <div class="row booking_form" style="margin-top: 20px;">
                            <div class="col-md-8  col-md-offset-3">
                                <h3>Servicegebühr 4,00€ </h3>
                            </div>
                        </div>
                    </f:then>
                    <f:else>
                        <script type="text/javascript">
                            var noservice = true;
                        </script>
                    </f:else>
                </f:if>
                <div class="row booking_form">
                    <div class="col-md-8  col-md-offset-3">
                        <!--div class="radio">
                            <label for="radios-0">
                                <f:form.radio name="booking[type]" id="radios-0" value="1" />
                                <strong>Barzahlung vor Ort | Bearbeitungsgebühr: 4,50 EUR</strong><br>
                                <small>Tickets und Quittung druckt die Buchungszentrale.</small>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-1">
                                <f:form.radio name="booking[type]" id="radios-1" value="2" />
                                <strong>EC-Kartenzahlung vor Ort | Bearbeitungsgebühr: 4,50 EUR</strong><br>
                                <small>Tickets und Quittung druckt die Buchungszentrale.</small>
                            </label>
                        </div-->
                        <div class="radio">
                            <label for="radios-2">
                                <f:form.radio name="booking[type]" id="radios-2" checked="checked" value="3" />
                                <strong><img src="/typo3conf/ext/hansesail_booking/Resources/Public/img/sofort.png" width="80" height="" alt="SOFORT Überweisung - Einfach, Schnell, Sicher"> </strong><br>
                                <p>Tickets und Quittung druckt der Kunde selbst.</p>
                            </label>
                        </div>
<!--                        <f:if condition="{isJakota}">-->
<!--                            <div class="radio">-->
<!--                                <label for="radios-2">-->
<!--                                    <f:form.radio name="booking[type]" id="radios-8" value="8" />-->
<!--                                    <strong>Zahlung per Kreditkarte</strong><br>-->
<!--                                    <p>Tickets und Quittung druckt der Kunde selbst.</p>-->
<!--                                </label>-->
<!--                            </div>-->
<!--                        </f:if>-->
                        <div class="radio">
                            <label for="radios-3">
                                <f:form.radio name="booking[type]" id="radios-3" value="4" />
                                <strong><img src="/typo3conf/ext/hansesail_booking/Resources/Public/img/sofort.png" width="80" height="" alt="SOFORT Überweisung - Einfach, Schnell, Sicher"></strong><br>
                                <p>Tickets und Quittung werden per Post durch die Buchungszentrale versandt.</p>
                            </label>
                        </div>
                         <div class="radio">
                            <label for="radios-4">
                                <f:form.radio name="booking[type]" id="radios-4" value="5" />
                                <strong>Überweisung/Rechnung</strong><br>
                                <p>Rechnung wird per Post durch die Buchungszentrale versendet. Tickets und Quittung folgen nach Zahlungseingang.</p>
                            </label>
                        </div>
                        <div class="radio">
                            <label for="radios-5">
                                <f:form.radio name="booking[type]" id="radios-5" value="6" />
                                <strong>Überweisung/Rechnung/E-Mail</strong><br>
                                <p>Rechnung druckt der Kunde selbst. Tickets und Quittung erhält der Kunde nach Zahlungseingang per E-Mail und druckt diese dann selbst.</p>
                            </label>
                        </div>

                        <p><p><strong>SOFORT Überweisung — Bequemer geht´s nicht.</strong><br />Zahlen Sie beim Online-Shoppen einfach wie Sie es gewohnt sind. Mit Ihren Online-Banking Daten und maximal sicher via PIN und TAN.
                            Dank einer Echtzeit-Transaktionsbestätigung ist eine sofortige Bearbitung Ihrer Buchung möglich.<br>
                            <a href="https://documents.sofort.com/de/sue/kundeninformationen/" target="_blank">Mehr hier</a></p></p>
                    </div>
                </div>
            </f:then>
            <f:else>
                <div class="row booking_form" style="margin-top: 20px;">
                    <div class="col-md-8 col-md-offset-3"><h3>&nbsp;</h3></div>
                </div>
                <div class="row booking_form">
                    <div class="col-md-8 col-md-offset-3">
                        <p>Bei dieser Veranstaltung können Plätze nur reserviert werden. Der Buchungsvorgang wird durch den Schiffseigner durchgeführt.</p>
                    </div>
                </div>
            </f:else>
        </f:if>
        <div class="row booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3"><h3>Ihr Preis</h3></div>
        </div>

        <div class="row booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3" id="price_overview">
                <script type="text/template" id="price_template">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th style="text-align: right;">Anz.</th>
                                    <th style="text-align: right;">Preis</th>
                                    <th style="text-align: right;">Summe</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(i in priceObject.lineItems) { %>
                                    <tr>
                                        <td><%= priceObject.lineItems[i].name %></td>
                                        <td align="right" nowrap="nowrap"><%= priceObject.lineItems[i].qty %></td>
                                        <td align="right" nowrap="nowrap"><%= priceObject.lineItems[i].priceFormated %> &euro;</td>
                                        <td align="right" nowrap="nowrap"><strong><%= priceObject.lineItems[i].totalPriceFormated %> &euro;</strong></td>
                                    </tr>

                                <% } %>
                                <tr>
                                    <td  align="right" colspan="3">Summe:</td>
                                    <td align="right" nowrap="nowrap"><strong><%= priceObject.totalFormated %> &euro;</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <input type="hidden" name="tx_hansesailbooking_hansesailbooking[total]" value="<%= priceObject.total %>">
                </script>
            </div>
        </div>


        <div class="row booking_form">
            <div class="col-md-8 col-md-offset-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" required="required" name="agb"> Ich erkläre mich mit den <f:link.page pageUid="124" target="_blank">AGB</f:link.page> einverstanden<br />
                    </label>
                    <label>
                        <input type="checkbox" required="required" name="datenschutz"> Ich habe die <f:link.page pageUid="805" target="_blank">Datenschutzerklärung</f:link.page> gelesen und stimme dieser zu.<br />

                    </label>
                    <label>
                        <input type="checkbox" name="tx_hansesailbooking_hansesailbooking[contact][newsletter_c]"> Ich möchte in Zukunft Newsletter erhalten.
                    </label>
                </div>
            </div>
        </div>


        <div class="row booking_form" style="margin-top: 20px;">
            <div class="col-md-8 col-md-offset-3">
                <f:link.action action="list" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> abbrechen</f:link.action>
                <f:form.button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-ok-sign"></span> {f:if(condition:'{product.entry_list.0.hs_schiffe_aos_products_1.0.nur_reservierung_c} != 1', then:'Jetzt zahlungspflichtig buchen', else:'Jetzt reservieren')}</f:form.button>
            </div>
        </div>

        <f:if condition="{product.entry_list.0.hs_schiffe_aos_products_1.0.nur_reservierung_c} == 1">
            <script type="text/javascript">
                function contentLoaded(win, fn) {

                    var done = false, top = true,

                            doc = win.document, root = doc.documentElement,

                            add = doc.addEventListener ? 'addEventListener' : 'attachEvent',
                            rem = doc.addEventListener ? 'removeEventListener' : 'detachEvent',
                            pre = doc.addEventListener ? '' : 'on',

                            init = function(e) {
                                if (e.type == 'readystatechange' && doc.readyState != 'complete') return;
                                (e.type == 'load' ? win : doc)[rem](pre + e.type, init, false);
                                if (!done && (done = true)) fn.call(win, e.type || e);
                            },

                            poll = function() {
                                try { root.doScroll('left'); } catch(e) { setTimeout(poll, 50); return; }
                                init('poll');
                            };

                    if (doc.readyState == 'complete') fn.call(win, 'lazy');
                    else {
                        if (doc.createEventObject && root.doScroll) {
                            try { top = !win.frameElement; } catch(e) { }
                            if (top) poll();
                        }
                        doc[add](pre + 'DOMContentLoaded', init, false);
                        doc[add](pre + 'readystatechange', init, false);
                        win[add](pre + 'load', init, false);
                    }

                }
                contentLoaded(window, function() {
                    document.getElementById('c5815').style.display = 'none';
                });

            </script>
        </f:if>

    </f:form>
    </div>
    <div id="bookingFormIeWarning" style="display:none;">
        <h2>Buchung nicht möglich</h2>
        Sie verwenden eine veraltete Version des Internet Explorers. Eine Buchung ist mit Ihrem Browser aus technischen Gründen nicht möglich.
    </div>
    <script type="text/javascript">
        document.getElementById('bookingFormContainer').style.display = 'block';


        function isIE () {
            var myNav = navigator.userAgent.toLowerCase();
            return (myNav.indexOf('msie') != -1) ? parseInt(myNav.split('msie')[1]) : false;
        }

        if (isIE () && isIE () <= 9) {
            document.getElementById('bookingFormContainer').style.display = 'none';
            document.getElementById('bookingFormIeWarning').style.display = 'block';
        }

    </script>








</f:section>

<f:section name="ok">
    <h1>Vielen Dank</h1>
    <p>Wir bestätigen, dass Ihre Buchung  bei uns eingegangen ist.</p>
    <f:link.action action="list" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> zurück zur Liste</f:link.action>
</f:section>

<f:section name="error1">
    <h1>Wartungsarbeiten</h1>
    <p>Zur Zeit finden Serverarbeiten statt. Wir bitten um Entschuldigung. <br />In Kürze sollte alles wieder funktionieren.</p>
    <pre>Could not create contact</pre>
    <f:link.action action="list" class="btn btn-default">Zurück zur Liste</f:link.action>
</f:section>

<f:section name="error2">
    <h1>Wartungsarbeiten</h1>
    <p>Zur Zeit finden Serverarbeiten statt. Wir bitten um Entschuldigung. <br />In Kürze sollte alles wieder funktionieren.</p>
    <pre>Could not create quote</pre>
    <f:link.action action="list" class="btn btn-default">Zurück zur Liste</f:link.action>
</f:section>
</html>
