{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <div class="row no_margin">
        <div class="col-md-8" style="padding-left: 0px;">
            <p>Der Hanse Sail Verein handelt als Vermittler von Leistungen Dritter und/oder als Veranstalter. Es gelten die AGB der Dritten und/oder des Hanse Sail Vereins.</p>
            <p>
                <div class="btn-group" role="group" aria-label="...">
                    <f:link.action action="pdf" arguments="{mode: 'view'}" target="_blank" class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> alle Tagesfahrten als PDF</f:link.action>

                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="text-align:left;"><f:link.action action="pdf" arguments="{mode: 'download'}"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern</f:link.action></li>
                            <li style="text-align:left;"><f:link.action action="pdf" arguments="{mode: 'view'}" target="_blank"><span class="glyphicon glyphicon-file"></span> Ansehen</f:link.action></li>
                        </ul>
                    </div>
                </div>
            </p>
        </div>
        <div class="col-md-4"><p class="text-md-right">Tel.: (0381) 381 29 75 / 76<br>Fax: (0381) 459 0050</p></div>
    </div>
    <div class="filter">
        <div class="row">
            <form class="form-horizontal">
                <fieldset>
                    <div class="col-md-1">
                        <p style="margin-top: 16px;">Zeige</p>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group col-md-3">
                        <div class="col-md-12 no_padding">
                            <select id="vesseltype" name="vesseltype" class="form-control">
                                <option value="">Alle Typen</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="col-md-12 no_padding">
                            <select id="vesselname" name="vesseltype" class="form-control">
                                <option value="">Alle Schiffe</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <div class="input-daterange input-group" id="daterange">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                            <input type="text" class="form-control" name="start" />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-chevron-right"></span></span>
                            <input type="text" class="form-control" name="end" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div>
          </div>
    <div class="ship_list" id="list_target">
        <p class="text-center"><img src="/typo3conf/ext/hansesail_booking/Resources/Public/img/ring-alt.gif"></p>
    </div>

    <f:alias map="{test: jsonProducts}"><script type="text/javascript">var aos_products = {test -> f:format.raw()};</script></f:alias>
    <script type="text/template" id="list_template">
        <div class="ship">
			<% moment.locale('de'); %>
            <%
            Number.prototype.formatMoney = function(c, d, t){
            var n = this,
            c = isNaN(c = Math.abs(c)) ? 2 : c,
            d = d == undefined ? "." : d,
            t = t == undefined ? "," : t,
            s = n < 0 ? "-" : "",
            i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "",
            j = (j = i.length) > 3 ? j % 3 : 0;
            return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
            };

            %>
            <% if (showShip) { %>
            <div class="ship_info row">
                <div class="col-md-1 ship_info_number" style="margin-top: 10px;"></div>
                <div class="col-md-3">
                    <% if (hs_schiffe_aos_products_1[0].image) { %>
                    <img src="<%= hs_schiffe_aos_products_1[0].image %>" border="" alt="" style="width: 100%; margin-top: 10px;">
                    <% } else { %>
                    <img src="/typo3conf/ext/hansesail_booking/Resources/Public/img/default.png" border="" alt="" style="width: 100%; margin-top: 10px;">
                    <% } %>
                </div>
                <div class="col-md-8">
                    <h3><% if (hs_schiffe_aos_products_1[0].isoA2Code) { %><span class="flag-icon flag-icon-<%= hs_schiffe_aos_products_1[0].isoA2Code %>"></span><% } %> <%= hs_schiffe_aos_products_1[0].name %></h3>
                    <table class="table ship_info_table">
                        <tbody>
                        <% if (hs_schiffe_aos_products_1[0].category) { %>
                        <tr>
                            <td class="td-0">Typ</td>
                            <td class="td-1"><%= hs_schiffe_aos_products_1[0].category %></td>
                        </tr>
                        <% } %>
                        <% if (hs_schiffe_aos_products_1[0].hulk_lenght) { %>
                        <tr>
                            <td class="td-0">Länge</td>
                            <td class="td-1"><%= Math.round(hs_schiffe_aos_products_1[0].hulk_lenght) %>m</td>
                        </tr>
                        <% } %>
                        <% if (hs_schiffe_aos_products_1[0].baujahr) { %>
                        <tr>
                            <td class="td-0">Baujahr</td>
                            <td class="td-1"><%= hs_schiffe_aos_products_1[0].baujahr %></td>
                        </tr>
                        <% } %>
                        <% if (hs_schiffe_aos_products_1[0].country) { %>
                        <tr>
                            <td class="td-0">Flagge</td>
                            <td class="td-1"><%= hs_schiffe_aos_products_1[0].country %></td>
                        </tr>
                        <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
            <div class="ship_trip_info row <%= (restkapazitaet_c > 0) ? '':'inactive' %>">
				<div class="col-md-1 col-sm-1 text-center visible-md-block visible-lg-block">
					<div class="date">
						<h3><%= moment(datum_c).format('DD.') %></h3>
					</div>
					
					<span class="month"><small><%= moment(datum_c).format('MMM') %></small></span>
					<span class="day_of_the_week"><small><%= moment(datum_c).format('ddd') %></small></span>
					
				</div>
				<div class="col-md-3 col-sm-3 col-xs-6">
                <!--div class="col-md-offset-1 col-md-3 col-sm-offset-0 col-sm-3"-->
                    <div class="date">
						<h3>
						<span class="hidden-md hidden-lg"><%= moment(datum_c).format('DD.MM.YYYY') %></span>
						<span style="font-weight:300;"><%= zeit_c %></span></h3>
					</div>
                    <div class="time"><small>Liegeplatz <%= liegeplatz_c %></small></div>
                    <div class="berth"><small></small></div>
                </div>
                <div class="col-sm-5 visible-lg-block visible-md-block visible-sm-block moreInfosSource"><p><small><%= parseFloat(price).formatMoney(2,',','') %> € / <%= description %> <%= inkludierte_leistungen_c %></small></p></div>
                <div class="col-md-3 col-sm-4 col-xs-6 col-booking">
                    <% if (restkapazitaet_c > 0) { %>
                        <div class="booking">
                            <div class="form-group">
                                <a href="<%= bookingurl %>" class="btn btn-primary">Jetzt buchen</a>
                            </div>
                        </div>

                        <a href="#" class="btn btn-default hidden-sm hidden-md hidden-lg moreInfos">Mehr Infos...</a>
                        <% if (restkapazitaet_c < 15) { %>
                            <div class="booking_info"><small>Nur noch <%= restkapazitaet_c %> Plätze</small></div>
                        <% } else { %>
                            <div class="booking_info"><small>Noch <%= restkapazitaet_c %> Plätze</small></div>
                        <% } %>
                    <% } else { %>
                    <div class="booking_info"><small>Ausgebucht</small></div>
                    <% } %>
                </div>
            </div>
        </div>
    </script>
</f:section>

<f:section name="formSubmitted">
    <h1>Vielen Dank</h1>
    <p>Wir bestätigen, dass Ihre Buchung  bei uns eingegangen ist.</p>
    <f:link.action action="list" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> zurück zur Liste</f:link.action>
</f:section>