{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <f:comment>{aosProductResponse}</f:comment>
    <table>
        <tr>
            <th>Name from CRM</th>
            <th>Shipname</th>
            <th>Rel.</th>
            <th>Shp.</th>
            <th>Pro.</th>
        </tr>
        <f:for each="{products}" as="product" iteration="i">
            <tr>
                <td>{product.name}</td>
                <td>{product.shipname}</td>
                <td>{product.resopnseCount -> f:format.raw()}</td>
                <td>{product.resopnseCountShipinfo -> f:format.raw()}</td>
                <td>{product.resopnseCountProdinfo -> f:format.raw()}</td>
            </tr>
        </f:for>
    </table>
</f:section>