{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <h1>Das hat leider nicht funktioniert.</h1>
    <p>Leider wurde die Zahlung für Ihre Buchung nicht abgeschlossen. Bitte setzen Sie sich mit unserem Büro in Verbindung</p>
    <p><strong>Tel.: (0381) 381 29 75 / 76</strong></p>
    <f:link.action action="list" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> zurück zur Liste</f:link.action>
</f:section>