{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
    <h1>Vielen Dank</h1>
    <p>Wir bestätigen, dass Ihre Buchung  bei uns eingegangen ist.</p>
    <f:link.action action="list" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> zurück zur Liste</f:link.action>
</f:section>