{namespace m=JAKOTA\HansesailBooking\ViewHelpers}
<f:layout name="Default"/>

<f:section name="main">
        <div class="booking">

            <div class="bookingformbox" style="display: block;">
                <div id="c3915" class="csc-default"><h2>MITSEGELN <span style="font-weight: normal;">während der Hanse Sail 2021</span></h2></div>
                <a id="c3916"></a><div><div><p class="bodytext">Online-Ticket-Verkauf</p></div></div>
                <div id="c6046" class="csc-default">
                    <div class="tx-hansesail">
                        <form id="bookingform" class="hansesailBookingTeaserSelectorcontainer">
                            <label class="bdate" style="margin-right: 8%;"><!--Reisedatum<br-->
                                <select id="hansesailBookingTeaserDateselector" data-target="{f:uri.page(pageUid:44)}">
                                    <option value="">Alle Tage</option>
                                    <option value="d:06.08.2020:05.08.2021">05.08.2021</option>
                                    <option value="d:07.08.2020:06.08.2021">06.08.2021</option>
                                    <option value="d:08.08.2020:07.08.2021">07.08.2021</option>
                                    <option value="d:09.08.2020:08.08.2021">08.08.2021</option>
                                </select>
                            </label>

                            <label class="bship"><!--Schiff<br-->
                                <select id="hansesailBookingTeaserShipselector" data-target="{f:uri.page(pageUid:44)}">
                                    <option value="">Alle Schiffe</option>
                                    <f:for each="{ships}" as="ship">
                                        <option value="s:{ship}">{ship}</option>
                                    </f:for>
                                </select>
                            </label>

                            <div class="submitbutton">
                                <f:link.page pageUid="44" id="hansesailBookingTeaserButton" class="bookingformsubmit"><i class="fa fa-chevron-right"></i> Anzeigen</f:link.page>
                            </div>

                        </form>
                        <!--div style="border-top: 1px solid #d5e4f6; margin: 5px 5px;"></div-->
                        <div style="padding: 15px 10px; background: #e9f3fd;">
                            <f:if condition="{settings.page1text}">
                                <f:link.page pageUid="{settings.page1link}" class="hansesailBookingTeaserLink">
                                    {settings.page1text} <span class="glyphicon glyphicon-chevron-right"></span>
                                </f:link.page><br />
                            </f:if>
                            <f:if condition="{settings.page2text}">
                                <f:link.page pageUid="{settings.page2link}" class="hansesailBookingTeaserLink">
                                    {settings.page2text} <span class="glyphicon glyphicon-chevron-right"></span>
                                </f:link.page><br />
                            </f:if>
                            <f:if condition="{settings.page3text}">
                                <f:link.page pageUid="{settings.page3link}" class="hansesailBookingTeaserLink">
                                    {settings.page3text} <span class="glyphicon glyphicon-chevron-right"></span>
                                </f:link.page><br />
                            </f:if>
                            <f:if condition="{settings.page4text}">
                                <f:link.page pageUid="{settings.page4link}" class="hansesailBookingTeaserLink">
                                    {settings.page4text} <span class="glyphicon glyphicon-chevron-right"></span>
                                </f:link.page><br />
                            </f:if>
                            <f:if condition="{settings.page5text}">
                                <f:link.page pageUid="{settings.page5link}" class="hansesailBookingTeaserLink">
                                    {settings.page5text} <span class="glyphicon glyphicon-chevron-right"></span>
                                </f:link.page><br />
                            </f:if>
                        </div>

                    </div>
                </div>
            </div>
        </div>
</f:section>